/* Main Page */
.container {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    text-align: center;
    
}

.container h1 {
    color: crimson;
    background-color: sandybrown;

}

.container ul {
    list-style: none;
    background-color: inherit;

}

li {
    padding: 15px;
}

li a{
    text-decoration: none;
    color: brown;
}

/* Lasagna page */

h1 , h3 {
    background-color: red;
    text-align: center;
}

p {
    background-color: bisque;
    word-spacing: 3px;
}

ul, ol {
    background-color: bisque;
}

.lasagna-img {
    background-color: bisque;
    text-align: center;
}

#link, .class-link {
    background-color: red;
}


